body{
	background-color: #f7f7f7;
	font-family: verdana;
	max-width: 900px;
	margin: auto;
}

#title, .subtitle, .post_title { color: #505050; }

#title{
	margin: 0px;
	font-size: 40px;
	text-transform: uppercase;
	padding-left: 15px;
}
a{
	text-decoration: line-through;
	color: #505050;
}
.subtitle{
	font-size: 20px;
	font-style: italic;
	margin: 11px;

}
.post_title{
	font-size: 16px;
	font-style: italic;
	margin: 0px;
	margin-bottom: 15px;
}

.post {
	background: #fff;
	padding: 15px;
	border: 3px solid #505050;
	margin-bottom: 15px;
	border-radius: 5px;

}

.post_cont {

	margin: 0px;
	margin-bottom: 15px;
	text-transform: capitalize;
	text-align: center;
}

.img02{

	margin-bottom: 15px;
	border-radius: 5px%;
	width: 100%;
}
.img01{

	margin-bottom: 15px;
	border-radius: 50%;
	margin: 0px;
	border: 3px dotted #505050;
}
.list{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	padding-left: 15px;
}

.list li a {

	text-decoration: none;
	color: red;
}